@model int

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome">
    </div>
    <div class="mb-3">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="text" class="form-control" id="endereco" >
    </div>
    <div class="mb-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade">
    </div>
    <div class="mb-3">
        <label for="uf" class="form-label">UF</label>
        <input type="text" class="form-control" id="uf">
    </div>
    <button type="button" class="btn btn-primary" onclick="salvar()">Salvar</button>
</form>

<script>

    function salvar() {

        var valid = validacaoForm();

        if (valid) {
            $.ajax('https://localhost:7217/api/cliente', {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: 'POST',
                data: montarCliente(),
                dataType: 'json',
                success: function () {
                    $('#Home')[0].click();
                }
            });
        }else{
            alert("Preencha todos os campos")
        }
    }

    function montarCliente(){
        var cliente = {
            "nome": $('#nome').val(),
            "endereco": $('#endereco').val(),
            "cidade": $('#cidade').val(),
            "uf": $('#uf').val(),
        }

        return JSON.stringify(cliente);
    }

    function validacaoForm(){
        var valid = true;
        if ($('#nome').val() == "" || $('#nome').val() == null || $('#nome').val() == undefined){
            valid = false;
        }
        if ($('#endereco').val() == "" || $('#endereco').val() == null || $('#endereco').val() == undefined) {
            valid = false;
        }
        if ($('#cidade').val() == "" || $('#cidade').val() == null || $('#cidade').val() == undefined) {
            valid = false;
        }
        if ($('#uf').val() == "" || $('#uf').val() == null || $('#uf').val() == undefined) {
            valid = false;
        }
        return valid;
    }
</script>